.discover-container {
    max-width: 1300px;
    margin: 60px auto;
    padding: 0 20px;
}

.main-title {
    font-weight: 700 !important;
    margin-bottom: 10px !important;
}

.sub-text {
    color: gray;
    margin-bottom: 40px !important;
}

.section-title {
    font-weight: 600 !important;
    margin-bottom: 25px !important;
}