@import "tailwindcss";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  top: -120px;
  height: 300px;
  z-index: -1;

  background: radial-gradient(ellipse at top,
      rgba(0, 102, 255, 0.7) 0%,
      rgba(0, 102, 254, 0.4) 40%,
      rgba(0, 54, 116, 0) 80%);

  filter: blur(150px);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 768px) {
  body::before {
    top: -60px;
    height: 220px;
    filter: blur(45px);
  }
}